---
 const personalImageAlt = "Gustavo Medina"
---

<article class="flex flex-col items-center justify-center gap-8 text-black/80 dark:text-white md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-indigo-600 dark:[&>p>strong]:text-emerald-500 
    [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hola, Me llamo Gustavo Medina Limón pero casi toda la gente me dice Limón. Empecé en la
      programación con desarrollando un carrito de compra en <strong>C++</strong>, tenía 17 años. Continue mis estudios dentro
      del mundo de la programación estudiando la carrera de <strong>Ingeniería en Sistemas Computacionales</strong>
      en el Instituto Tecnológico de San Luis Potosí Donde pude aprender más sobre el desarrollo de software 
      y por supuesto desarrollando diversas aplicaciones como un sistema de estadísticas y visualización grafica 
      la cual mostraba diversos datos de la situación de la pandemia del año 2020.
    </p>

    <p>
      Durante este tiempo, visualize lo que sería mi futuro y me seguí preparando con diversos cursos, certificaciones,
      y multiples proyectos, para continuar lo que un día comencé y darme cuenta que realmente <strong>lo que me apasiona es el 
      desarollo de software</strong> y me emociona lo que será el futuro dentro de la tecnológia donde <strong>me gustaría
      contribuir a mejorar y potenciar el mundo de la programación</strong>. 
    </p>
    
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} 
       class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl 
       bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20" 
       style="object-position: 50% 50%"
  >

</article>